/* ********* */
/* @TYPOGRAPHY */
/* ********* */
$fontTitulo: 1.4rem;
$fontPolaroid: 1.2rem;

$fontFamily: Sans-serif;

body {
  font-family: $fontFamily;
}

.titulo{
    font-size: $fontTitulo;
}

.texto{
    font-size: $fontPolaroid;
}